@import url("fonts.css");

:root {
    --primary-text-color: #313131;
    --primary-title-color: #313131;
    --secondary-title-color: #FFFFFF;
    --secondary-text-color: #FFFFFF;
    --primary-bg: #FFFFFF;
    --primary-nav-bg: #313131;

}

body {
    font-family: 'Noto Sans';
    background: var(--primary-bg);
}

.nav {
    background: var(--primary-nav-bg);
    padding: 15px;
}

.nav_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 40px;
}

.nav_link:hover {
    color: #FFFFFF;
}



.search {
    padding: 16px 0 28px;
}

.search_input {
    padding: 15px 10px;
    width: 50%;
    outline: none;

}

.search_button {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    border: 1px solid var(--primary-text-color);
}


/* sectiion */
.section {
    padding-bottom: 40px;
}

.section_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section_list li {
    list-style: none;
}

.section_link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
    border-bottom: rgba(255, 0, 0, 0) solid 3px;
}

.section_link:hover {
    color: var(--primary-text-color);
    border-bottom: var(--primary-text-color) solid 3px;

}



/* section2 */

.section2_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2_right_title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.05em;
    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 120px;

}

.section2_right_link {
    width: 189px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background: #313131;
    border: 1px solid var(--primary-text-color);

}

.section2_right_link:hover {
    color: #FFFFFF;
}

.carousel-indicators [data-bs-target] {
    background: var(--primary-text-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0;
    position: relative;
    margin-top: 30px;
}

.button-indicator {
    position: relative;
    gap: 15px;
    margin-top: 0;
}


/* section3 */

.section3 {
    padding-top: 50px;
}

.section3_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.section3_grid_card {
    position: relative;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    filter: drop-shadow(-10px 5px 4px rgba(58, 57, 57, 0.144));
}

.section3_grid_card:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.section3_grid_card:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
}

.section3_grid_card img {
    width: 100%;
}

.section3_grid_card span {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
}

.section3_grid_card:nth-child(1) span {
    position: absolute;
    top: 15px;
    left: 20px;
}

.section3_grid_card:nth-child(2) span {
    position: absolute;
    top: 15px;
    left: 20px;
}

.section3_grid_card:nth-child(3) span {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.section3_grid_card:nth-child(4) span {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.section3_grid_card_info {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.section3_grid_card_info2 {
    position: absolute;
    top: 15px;
    left: 20px;
}

.section3_grid_card_info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #313131;

}

.section3_grid_card_info_price {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 10px;
    letter-spacing: 0.05em;
    color: #313131;
}

.section3_button {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
    margin-top: 30px;
    border: 1px solid var(--primary-text-color);
}

.section3_button:hover {
    color: #FFFFFF;
}

/* section4 */

.section4 {
    padding-top: 70px;
}

.section4_title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}

.section4_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section4_card img {
    width: 100%;
}

.section4_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}

.section4_card_info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--primary-title-color);
}

.section4_card_info_price {
    margin-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: var(--primary-text-color);
}

.section4_card_info_button {
    width: 99px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    background: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    margin-bottom: 10px;
}

.section4_card_info_button:hover {
    color: var(--secondary-text-color);
}

.section4_card:hover .section4_card_info_button {
    opacity: 1;
}

.section4_link {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
    margin-top: 60px;
    border: 1px solid var(--primary-text-color);
}

.section4_link:hover {
    color: #FFFFFF;
}

/* section5 */

.section5 {
    padding-top: 70px;
}

.section5_title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}

.section5_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section5_card img {
    width: 100%;
}

.section5_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}

.section5_card_info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--primary-title-color);
}

.section5_card_info_price {
    margin-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: var(--primary-text-color);
}

.section5_card_info_button {
    width: 99px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    background: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    margin-bottom: 10px;
}

.section5_card_info_button:hover {
    color: var(--secondary-text-color);
}

.section5_card:hover .section5_card_info_button {
    opacity: 1;
}

.section5_link {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
    margin-top: 60px;
    border: 1px solid var(--primary-text-color);
}

.section5_link:hover {
    color: #FFFFFF;
}


/* section6 */

.section6 {
    padding-top: 30px;
}

.section6_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section6_left_title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-title-color);
    margin: 20px 0 70px;
}

.section6_left_link {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #313131;
    border: 1px solid var(--primary-text-color);

}

.section6_left_link:hover {
    color: #FFFFFF;
}






.section6_right img {
    width: 100%;
}


/* section7 */

.section7 {
    padding: 70px 0;
}

.section7_title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}

.section7_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section7_card img {
    width: 100%;
}

.section7_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}

.section7_card_info_title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--primary-title-color);
}

.section7_card_info_price {
    margin-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: var(--primary-text-color);
}

.section7_card_info_button {
    width: 99px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-text-color);
    background: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    margin-bottom: 10px;
}

.section7_card_info_button:hover {
    color: var(--secondary-text-color);
}

.section7_link {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
    margin-top: 60px;
    border: 1px solid var(--primary-text-color);
}

.section7_link:hover {
    color: #FFFFFF;
}


/* section8 */

.section8 {
    padding-top: 70px;
}

.section8_title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: var(--primary-title-color);
    margin-bottom: 30px;
}

.section8_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: none;
    transition: 0.3s;
}

.section8_card:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.section8_card:hover .section8_card_button {
    opacity: 1;
}

.section8_card_button {
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0;
    transition: 0.3s;
}

.section8_card img {
    width: 100%;
}

.section8_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    bottom: 0; */
}

.section8_card_info_title {
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--primary-title-color);
}

.section8_card_info_price {
    margin-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: var(--primary-text-color);
}

.section8_card_info_button {
    width: 99px;
    height: 29px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #313131;
    border: 1px solid var(--primary-text-color);
    margin-bottom: 10px;
    opacity: 0;
    transition: 0.3s;
}

.section8_card_info_button:hover {
    color: #FFFFFF;
}

.section8_card:hover .section8_card_info_button {
    opacity: 1;
}

.section8_link {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: var(--secondary-text-color);
    background: var(--primary-text-color);
    margin-top: 60px;
    border: 1px solid var(--primary-text-color);
}

.section8_link:hover {
    color: var(--secondary-text-color);
}


/* section9 */

.section9 {
    padding: 80px 0 45px;
}

.section9_content {
    position: relative;
}

.section9_content img {
    width: 100%;
}

.section9_info {
    width: 100%;
    position: absolute;
    top: 0;
    left: 10px;
}

.section9_info_title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-title-color);
}

.section9_info_text {
    width: 35%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--primary-text-color);
}

.section9_button {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 189px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
    background: #313131;
    margin-top: 20px;
    border: 1px solid var(--primary-text-color);
}

.section9_button:hover {
    color: #FFFFFF;
}

/* section10 */

.section10_photos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section10_photos img {
    width: 100%;

}

.section10_img {
    display: flex;
}

.section10_img img {
    width: 80%;
}

.section10_info_title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: var(--primary-title-color);
}

.section10_info_price {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
    margin: 40px 0 20px;
}

.section10_info_text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
}

.section10_info_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section10_info_list_text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--primary-text-color);
}

.section10_info_list_text::marker {
    color: var(--primary-text-color);
}

.section10_info_buttons {
    display: flex;
}

.section10_info_buttons_link {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #313131;
    border: 1px solid var(--primary-text-color);
    margin-right: 30px;
}

.section10_info_buttons_link:hover {
    color: #FFFFFF;
}



/* section11 */

.section11 {
    padding: 40px 0 70px;
}

.section11_left img {
    width: 100%;
}

.section11_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section11_right_title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: var(--primary-title-color);
    align-self: flex-start;
}



.section11_right_text {
    width: 90%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--primary-text-color);
    margin: 40px 0 120px;
}

.section11_right_button {
    width: 189px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #313131;
    border: 1px solid var(--primary-text-color);
}

.section11_right_button:hover {
    color: #FFFFFF;
}

/* pages */

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.pages_page {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-decoration: none;
    color: #ABABAB;
}

.pages_page:hover{
    color: #ABABAB;
}

.pages_page.lol{
    color: var(--primary-text-color);
}

.pages_page::before{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: #ABABAB;
    margin-right: 10px;
}

.pages_page::after{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: #ABABAB;
    margin-left: 10px;
}

.pages_page.lol::before{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: var(--primary-text-color);
    margin-right: 10px;
}

.pages_page.lol::after{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: var(--primary-text-color);
    margin-left: 10px;
}

.pages_next {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.pages_next::before{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: #ABABAB;
    margin-right: 10px;
}

.pages_next:hover{
    color: var(--primary-text-color);
}



.pages_back {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.pages_back::after{
    content: "";
    display: block;
    width: 1px;
    height: 35px;
    background: #ABABAB;
    margin-left: 10px;
}

.pages_back:hover{
    color: var(--primary-text-color);
}











/* footer */

footer {
    padding: 30px 0 45px;
    background: var(--primary-nav-bg);
}

.footer_text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.footer_search {
    display: flex;
}

.footer_search_input {
    width: 65%;
    height: 50px;
    outline: none;
}

.footer_search_button {
    width: 35%;
    background: #313131;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
}

.footer_logo {
    margin-right: 15px;
}

.footer_list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer_list li {
    list-style: none;


}

.footer_list_link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 15px;
}

.footer_list_link:hover {
    color: #FFFFFF;
}